.img-thumbnail{
	border-color: #bababa;
}
/*header*/
.navbar{
	background-color: #ed1b23;
	height: 124px;
}
.header img{
	padding-left: 0px;
}

.call{
	padding-right: 0px;
}

.fa-phone{
	font-size: 40px;
	color: white;
	padding-right: 170px;
	margin-top: 0px;
	padding-bottom: -100px;
	padding-top: 20px;
	margin-right: -10px;
}

.call p{
	color: white;
	font-size: 10px;
	margin-top: -45px;
	font-weight: bold;
}
.call h3{
	margin-top: 15px;
	color: white;
	margin-top: -10px;
}
.navbar-right a{
	color: white;
	padding: 10px;
	padding-left: -15px;
	margin-right: 0px;
	font-size: 18px;
}
/*akhir header*/
/*produk*/
.produk .title{
	margin-top: 61px;
	color: #141d42;
	font-weight: bold;
	font-size: 28px;
}
.produk .subtitle{
	color: #141d42;
	font-weight: bold;
	font-size: 40px;
}
.produk .view{
	font-size: 16px;
	margin-top: 98px;
}
.produk .margin{
	margin-top: 47px;
}
.produk ul.thumbnail-prodak{
	margin: 0px; list-style: none; padding:0px;
	padding-top: 10px;
}
.produk ul.thumbnail-prodak li{
 display: inline-block; padding: 0 4px;
}
.produk .hr-red{
	border-color: #ed1b23;
	border-width: 5px;
	margin-top: 81px;
}
.produk .title-produk{
	font-size: 18px;
	font-weight: bold;
}
.produk .subtitle-produk{
	font-size: 22px;
}
.produk hr{
	border-color: #cbcbcb;
}
.produk .price{
	font-size: 18px;
	font-weight: bold;
}
.produk .before{
	color: #ed1b23;
	font-size: 18px;
	font-weight: bold;
	text-decoration: line-through;
}
.produk .after{
	color: #ed1b23;
	font-size: 25px;
	font-weight: bold;
	margin-left: -70px;
	margin-top: -7px;
}
.produk .description{
	margin-top: 36px;
	margin-bottom: 36px;
	font-size: 14px;
}
.produk .info-produk{
	font-size: 14px;
}
.produk p{
	font-weight: bold;
	margin-top: 23px;
	color: #ed1b23;
}
.produk .btn{
	margin-top: 23px;
}
/*akhir produk*/
/*other*/
.other .text-right{
	font-size: 12px;
	text-decoration: underline;
}
.other img{
	margin-top: 26px;
}
.other a{
	font-size: 16px;
	font-weight: bold;
	color: #010101;
}
.other hr{
	border-color: #cbcbcb;
}
.other .title{
	color: #141d42;
	margin-top: 11px;
	font-weight: bold;
	font-size: 28px;
}
.other .link1{
	margin-top: 15px;
}
.other .title-produk{
	margin-top: 25px;
	font-size: 11px;
	font-weight: bold;
	color: #2b2b2b;
}
.other .btn-red{
	color: #ffffff;
	background-color: #ed1b23;
	font-size: 12px;
	font-weight: bold;
	margin-top: 35px;
}
.other .subtitle-produk{
	font-size: 15px;
	color: #2b2b2b;
}
.other .subtitle2{
	color: #141d42;
	font-size: 28px;
	margin-top: 79px;
	font-weight: bold;
}
.other .link2{
	margin-top: 90px;
}
.other .up-info{
	margin-top: 78px;
}
.other .up-produk{
	margin-top: 35px;
}
.other .kategori-lain{
	margin-top: 29px;
}
/*akhir other*/
/*information*/
.information .contact{
	background-color: #141d42;
	margin-top: 60px;
	height: 142px;
	width: 274px;
}
.information .plan{
	font-size: 12px;
	color: #ffffff;
	padding-top: 15px;
}
.information .hr-red{
	margin-top: 9px;
	border-color: #ed1b23;
	border-width: 5px;
	width: 274px;
}
.information .contact img{
	margin-top: -21px;
}
.information .phone{
	color: #ffffff;
	font-size: 14px;
	margin-top: -90px;
	margin-left: 100px;
}
.information .phone .word{
	font-size: 14px;
}
.information .phone .number{
	font-size: 15px;
	font-weight: bold;
}
.information .help {
	margin-top: 60px;
	margin-bottom: 38px;
	margin-left: 12px;
	padding-right: 30px;
	height: 142px;
	background-color: #ed1b23;
}
.information .help .title-help{
	padding-top: 25px;
	padding-left: 24px;
	color: #ffffff;
	font-size:15px;
	font-weight: bold;
}
.information .help .title-help img{
	margin-left: 200px;
}
.information .help .subtitle-help{
	padding-top: 20px;
	padding-left: 24px;
	color: #ffffff;
	font-size:15px;
	font-weight: bold;
}
.information .help label{
	margin-top: 10px;
	color: #ffffff;
	font-size: 12px;
}
.information .help .form-control{
	height: 20px;
	width: 129px;
	margin-right: 1px;
	border-radius: 0px;
	display: inline-block;
	color: #ffffff;
	background: transparent;
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
}
.information .help .btn{
	border: none;
	color: #ffffff;
	background: transparent;
}
/*akhir information*/
/*klien*/
.client{
    background-color: #cbcbcb;
}
.client h6{
 	font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #141d42;
    padding-bottom: 37px;
    padding-top: 37px;
}
.client img.img-logo{
    height: 129px;
    width: 380px;
    background-color: #fefefe; 
    margin-bottom: 39px;
    margin-top: 25px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px #959494;
    user-select: none;
}
.client img.tengah{
    margin-left: 30px;
    margin-bottom: 30px;
}
.client img.awal{
    margin-bottom: 30px;
}
.client img.akhir{
    margin-left: 30px;
    margin-bottom: 30px;
}
/*akhir klien*/
.medsos{
	background-color: #000000;
	height: 82px;
}
.medsos i{
	font-size: 30px;
	margin: 24px 20px;
	color: #ffffff;
}
.final{
	height: 124px;
}
.final img{
	margin-top: 23px;
}
.final .col-sm-10{
	color: #c7c7c7;
	font-size: 12px;
	padding-left: 70px;
	margin-top: 32px;
}
.final .copyright{
	margin-top: 19px;
}